
/*/ / PROFIELFOTO / /*/
#profielfoto {
    background-image: url(gust.png);
    background-size: 45%;
    background-position: 50%;
    background-blend-mode:luminosity;
    background-color: rgb(6, 57, 30);
}


/*/ / DIENSTEN / /*/
#diensten {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tab {
    height: calc(100% / 3);
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0); ;
    background-color: rgb(145, 145, 145);
}

.tab:nth-child(3) {
    border-bottom: 0;
}


#diensten .huidig {
    border-right: none;
    background-color:transparent;
}

#dienst {
    display: block;
    height: 100%;
    width: 75%;
    overflow-y: auto;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

/*/ / CONTACTGEGEVENS / /*/
#contactgegevens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*/ / VOORSTELLING / /*/
